h1 {
    font-family: Verdana;
    color: black;
    line-height: 60px;
    background-color: #84acbf;
    transition: linear;
    transition-duration: 450ms;
    transition-property: background, transform;
}

h1:hover {
    color: black;
    background-color: lightslategrey;
}


h2 {
    line-height: 50px;
}

body {
    font-family: Verdana;
    background-color: whitesmoke;

}

.searchbar {
    text-align: left;
    background-color: whitesmoke;
    border: none;
    border-bottom: solid lightgrey;
}

.sort {
    border: none;
}

tr:nth-child(odd) {
    background-color: #8db7ca;
}

.justify {
    text-align: justify;
}

.buttons {
    color: darkslategrey;
    background-color: whitesmoke;
    padding: 7px 7px;
    transitioin: linear;
    transition-duration: 350ms;
    transition-property: background, transform;
    text-decoration: none;
}

.buttons:hover {
    color: whitesmoke;
    background-color: slategrey;
}

.input-buttons {
    color: darkslategrey;
    background-color: whitesmoke;
    padding: 7px 7px;
    transitioin: linear;
    transition-duration: 350ms;
    transition-property: background, transform;
    text-decoration: none;
    border: none;
}

.delete-button {
    color: darkslategrey;
    background-color: whitesmoke;
    padding: 7px 7px;
    transitioin: linear;
    transition-duration: 350ms;
    transition-property: background, transform;
    text-decoration: none;
    border: none;
    margin-left: 43%
}

.input-buttons:hover {
    color: whitesmoke;
    background-color: slategrey;
}

body {background-color: #8db7ca}

table {text-align:center;
padding-bottom: 10px;}



