h1 {
    font-family: Verdana;
    color: black;
    line-height: 60px;
    padding-bottom: 30px;
    padding-top: 20px;
}


h2 {
    line-height: 50px;
}

body {
    font-family: Verdana;
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;

}

#login{

    height: 30px;
    width: auto;
    margin: 10px 20px 10px 310px;
}


.searchbar {
    float: left;
    text-align: left;
    border: none;
    background: none;
    border-bottom: solid lightgrey;
    margin-right: 5px;
}


.input-buttons-search{
    float: left;
    padding: 8px;
    cursor: pointer;
    margin-right: 480px;
    border-style: none;
    background: none;
    color: grey;
}

.input-buttons-search:hover{
    float: left;
    cursor: pointer;
    margin-right: 480px;
    border-style: none;
    background-color: slategray;
    color: white;
    transition-duration: 0.5s;
    border-radius: 10px;
}

.user{
    float:left;
    margin-right: 5px;
    text-align: left;
    border: none;
    border-bottom: solid lightgrey;
}

.password{
    float:left;
    margin-right: 5px;
    text-align: left;
    border: none;
    border-bottom: solid lightgrey;
}

.pass_submit{
    float:left;
    margin-right: 5px;
    cursor: pointer;
    border-style: none;
    background: none;
    padding: 7px;
    color: grey;

}

.pass_submit:hover{
    cursor: pointer;
    margin-right: 5px;
    border-style: none;
    background-color: slategray;
    color: white;
    transition-duration: 0.5s;
    border-radius: 10px;
}

#login a{
    margin-left: 5px;
    text-decoration: none;
    color: grey;
}

#login a:hover{
    padding-left: 15px;
    transition-duration: 0.5s;
}

.user_reg{
    float: bottom;
    margin-top: 300px;
    margin-left: 200px;
    text-align: left;
    background-color: whitesmoke;
    border: none;
    border-bottom: solid lightgrey;
}

.password_reg{
    float: bottom;
    margin-right: 5px;
    text-align: left;
    background-color: whitesmoke;
    border: none;
    border-bottom: solid lightgrey;
}


.input-buttons-search{
    float: left;
    margin-right: 480px;
}

.user{
    float:left;
    margin-right: 5px;
    text-align: left;
    border: none;
    background: none;
    border-bottom: solid lightgrey;
}

.password{
    float:left;
    margin-right: 5px;
    text-align: left;
    background: none;
    border: none;
    border-bottom: solid lightgrey;
}

.pass_submit{
    float:left;
}

.pass_submit_reg{
    float:bottom;
    margin-left: 5px;
    text-decoration: none;
    color: grey;
    border-style: none;
    background-color: none;
}

.sort {
    border: none;
}

tr:nth-child(odd) {
    background-color: #E8E8E8;
}

.justify {
    text-align: justify;
}

.buttons {
    color: darkslategrey;
    padding: 10px 10px;
    text-decoration: none;
}

.buttons:hover {
    transition-property: background, transform;
    transitioin: linear;
    transition-duration: 350ms;
    color: whitesmoke;
    background-color: slategrey;
}

.input-buttons {
    color: darkslategrey;
    background-color: whitesmoke;
    padding: 10px 10px;
    transitioin: linear;
    transition-duration: 350ms;
    transition-property: background, transform;
    text-decoration: none;
    border: none;
}

.input-buttons:hover {
    color: whitesmoke;
    background-color: slategrey;
}


.registration{
    width: 800px;
    height: 100px;
    margin: auto;
    }

.question_label{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    margin-top: 0px;question_tag
}

.username{
    font-style: italic;
    font-size: 20px;
    padding-left: 20px;
}

.comment_user{
    font-style: italic;
    font-size: 17px;
    text-align: center;
}

.login_info{
    width: auto;
    margin-left: 1030px;
}


div.accept { border:2px solid black;}

.q_message{
    height: 50px;
    font-size: 18px;
    background: none;
}

