<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Add a comment</title>
</head>
<body>
    <form action="{{ url_for('add_a_comment_to_answer', answer_id=answer_id, question_id=question_id) }}"
          method="post">
        <h1>{{ question_id }}</h1>
        <input type="hidden" name="answer_id" value="{{ answer_id }}">
        <input type="hidden" name="question_id" value="{{ question_id }}">
        <p>
            <label for="comment"><strong>Your comment</strong></label>
            <br>
            <input type="text" class="comment" name="message" size="50" placeholder="Your comment goes here..">
        </p>
        <p>
            <input type="submit" value="Send Comment">
        </p>
    </form>
</body>
</html>