<!DOCTYPE html>
<html>
<head>

    <title>Ask máté</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
</head>
<body>
<p>
<h1 class="big" align="center"><strong>{{ question.title }}</strong></h1>
</p>

<p align="center">
<table align="center">
    <tr>
        <td align="center" width="800">
            {{ question.message }}
        </td>
    </tr>
</table>
</p>
<table align="center">
    <tr>
        <td width="150" align="center">Submission time</td>
        <td width="150" align="center">View number</td>
        <td width="150" align="center">Vote number</td>
    </tr>
    <tr>
        <td width="150" align="center">
            {{ question.submission_time }}
        </td>
        <td width="150" align="center">
            {{ view_number.view_number }}
        </td>
        <td width="150" align="center">
            {{ question.vote_number }}
        </td>
    </tr>
</table>
<p align="center"><a href="{{ url_for('delete_question', question_id = question.id) }}">
    <button class="input-buttons" type="button">Delete Question</button>
</a></p>

<p align="center"><a class="buttons" href="{{ url_for('add_a_comment_to_question', question_id = question.id) }}">
    Comment here on a question</a></p>

{% for line in comment_to_question %}

    <p class="comment" align="center"><em>{{ line.message }}</em></p>
    <table align="center">

        <tr>
            <td width="150" align="center">Submission time</td>
            <td width="150" align="center">Times edited</td>
        </tr>
        <tr>
            <td width="150" align="center">{{ line.submission_time }}</td>
            <td width="150" align="center">{{ line.edited_count }}</td>
               <td width="150" align="center">{{ line.id }}</td>
            <td width="150" align="center">

            </td>

        </tr>
              <form action="/delete_comment/{{ line.question_id }}" method="POST">
                                    <input type="hidden" name="question_id" value="{{ question_id }}">
                                    <input type="hidden" name="comment_id" value="{{ line.id }}">
                                                 <p align="center"><button class="input-buttons" type="submit">Delete comment</button></p>

                                </form>
    </table>

{% endfor %}

<h2 align="center"><strong>Answers</strong></h2>

<input type="hidden" name="id" value="t">

{% for line in answer_table %}

    <h3 class="big" align="center"><strong>{{ line.message }}</strong></h3>
    {% for row in comment_to_answer %}
        {% for comment in row %}

            {% if comment.answer_id == line.id %}

                <table align="center">

                        <tr>
                            <td width="150" align="center">Submission time</td>
                            <td width="150" align="center">Times edited</td>
                        </tr>
                        <tr>
                            <td width="150" align="center">{{ comment.submission_time }}</td>
                            <td width="150" align="center">{{ comment.edited_count }}</td>
                        </tr>
                    </table>
 <form action="/delete_comment/{{ line.question_id }}" method="POST">
                                    <input type="hidden" name="question_id" value="{{ question_id }}">
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                 <p align="center"><button class="input-buttons" type="submit">Delete comment</button></p>

                                </form>

                    <p class="comment" align="center"><em>{{ comment.message }}</em></p>
            {% endif %}
        {% endfor %}
    {% endfor %}
<form action="/answer/{{ line.id }}/new-comment">
                <input type="hidden" name="question_id" value="{{ question.id }}">
                <button class="input-buttons" type="submit">Comment here on an answer</button>
            </form>
    <table align="center">

        <tr>
            <td width="150" align="center">Submission time</td>
            <td width="150" align="center">Vote number</td>
        </tr>
        <tr>
            <td width="150" align="center">{{ line.submission_time }}</td>
            <td width="150" align="center">{{ line.vote_number }}</td>
            <tr>
            <td><a href="/answer/{{ line.id }}/delete">
                <button class="input-buttons" type="button">Delete Answer</button>
            </a></td>
            <td><a href="/answer/{{ line.id }}/edit">
                <button class="input-buttons" type="button">Edit Answer</button>
            </a></td>


        </tr>
    </table>
    </tr>
    </table>
{% endfor %}


<h3>
    <p align="center">
        <a href="/question/{{ question.id }}/new-answer">
            <button class="input-buttons" type="button">Add New Answer</button>
        </a>
    </p>
</h3>


<h3>
    <p align="center">
        <a href="/">
            <button class="input-buttons" type="button">Back to Questions</button>
        </a>
    </p>
</h3>

</body>
</html>