<!DOCTYPE html>
<head>
    <style> p {
        line-height: 40px;
    }

    p1 {
        line-height: 60px;
    }

    h1 {
        line-height: 60px;
    }

    h2 {
        line-height: 70px;
    }

    h3 {
        line-height: 50px;
    }

    .justify {
        text-align: justify;
    }</style>

    <title>Title</title>
</head>
<body>
<p>
    {% for title in question_table %}
<h1 class="big" align="center"><strong>{{ title.title }}</strong></h1>
{% endfor %}
    {% for title in question_table %}
        <h1 class="big" align="center"><strong>{{ title.title }}</strong></h1>
    {% endfor %}
</p>

<p align="center">
<table align="center">
    <tr>
        <td align="center" width="800">
            {% for line in question_table %}
            {{ line.message }}
        </td>
    </tr>
</table>
</p>
<table align="center">
    <tr>
        <td width="150" align="center">Submission time</td>
        <td width="150" align="center">View number</td>
        <td width="150" align="center">Vote number</td>
    </tr>
                {{ line.message }}
                </td>
                </tr>
                </table>
                </p>
                <table align="center">
                <tr>
                    <td width="150" align="center">Submission time</td>
                    <td width="150" align="center">View number</td>
                    <td width="150" align="center">Vote number</td>
                </tr>

    <tr>
                <tr>

        <td width="150" align="center">
            {{ line.submission_time }}
        </td>
        <td width="150" align="center">
                    <td width="150" align="center">
                        {{ line.submission_time }}
                    </td>
                    <td width="150" align="center">

            {{ line.view_number }}
        </td>
        <td width="150" align="center">
                        {{ line.view_number }}
                    </td>
                    <td width="150" align="center">

            {{ line.vote_number }}
        </td>
    </tr>
    {% endfor %}
</table>
                        {{ line.vote_number }}
                    </td>
                </tr>
            {% endfor %}
            </table>
<h2 align="center"><strong>Answers</strong></h2>

<input type="hidden" name="id" value="t">

{% for line in answer_table %}

    <h3 class="big" align="center"><strong>{{ line.message }}</strong></h3>
    <p>

<table align="center">

    <tr>
        <td width="150" align="center">Submission time</td>
        <td width="150" align="center">Vote number</td>
    </tr>
        <tr>
            <td width="150" align="center">Submission time</td>
            <td width="150" align="center">Vote number</td>
        </tr>

    <tr>
        <td width="150" align="center">{{ line.submission_time }}</td>
        <td width="150" align="center">{{ line.vote_number }}</td>
        <td><a href="/answer/{{ line.id }}/delete">
            <button type="button">Delete Answer</button>
        </a></td>

    </tr>
</table>
</p>

{% endfor %}
<h3>
    <p align="center">
        {% for line in question_table %}
            <a href="/question/{{ line.id }}/new-answer">
        {% endfor %}
        <button type="button">Add New Answer</button>
        </a>
    </p>
</h3>
<h3>
    <p align="center">
        <a href="/">
            <button type="button">Back to Questions</button>
        </a>
    </p>
</h3>

</body>
</html>