<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Ask máté</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<h1 align="center"><strong>Ask máté</strong></h1>
<form align="center" action="{{ url_for('list_sorted_question') }}" method="POST">
  Sort questions by:  <select class="sort" name="title">
    <option value="submission_time">date</option>
    <option value="vote_number">votes</option>
    <option value="view_number">number of wievs</option>
  </select>
    <select class="sort" name="type">
    <option value="DESC">desc</option>
    <option value="ASC">asc</option>
  </select>

  <input class="input-buttons" type="submit" value="Show me">
</form>

<form align="center" action="{{ url_for('search_stuff') }}" method="POST">

    <input class="searchbar" type="search" name="search" placeholder="Search">
    <input class="input-buttons" type="submit">
</form>
{{ list_of_question["id"] }}
<table align="center" cellpadding="10">
    <h2>
        <tr>
            <th width="150" align="center">Id</th>
            <th width="150" align="center">Title</th>
            <th width="300" align="center">Message</th>
            <th width="180" align="center">Submission time</th>
            <th width="150" align="center">View number</th>
            <th width="150" align="center">Vote number</th>
        </tr>
    </h2>
    {% for line in list_of_question %}
        <tr>
            <td width="150" align="center"> {{ line['id'] }} </td>
            <td width="150" align="center"><a href="/question/{{ line['id'] }}">{{ line['title'] }} </a></td>
            <td width="300" align="center" class="justify">  {{ line['message'] }} </td>
            <td width="150" align="center"> {{ line['submission_time'] }} </td>
            <td width="150" align="center"> {{ line['view_number'] }} </td>
            <td width="150" align="center"> {{ line['vote_number'] }} </td>
        </tr>
    {% endfor %}
</table>
<h3>
    <p align="center">
        <a href="/add_a_question">
            <button class="input-buttons" type="button">Add a new question</button>
        </a>
    </p>
</h3>
</body>
</html>
