<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>List_users</title>
</head>
<body>

<p class="users">Users</p>



{% for user in users %}
<div class="all_user">
<a href="/user_info/{{ user.user_id }}">{{ user.username }}</a>

<br>
{{ user.registry_date }}

</div>
{% endfor %}
     <a href="/">
            <button class="input-buttons" type="button">Back to Questions</button>
        </a>
</body>
</html>