<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            line-height: 60px;
        }

        h2 {
            line-height: 50px;
        }

        table, th, td {
            border: 1px solid black;
        }

        .justify {
            text-align: justify;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center"><strong>Ask máté</strong></h1>
{{ list_of_question["id"] }}
<table align="center" cellpadding="10">
    <h2>
        <tr>
            <th width="150" align="center">id</th>
            <th width="150" align="center">title</th>
            <th width="300" align="center">message</th>
            <th width="180" align="center">submission time</th>
            <th width="150" align="center">view number</th>
            <th width="150" align="center">vote number</th>
        </tr>
    </h2>
    {% for line in list_of_question %}
        <tr>
            <td width="150" align="center"> {{ line['id'] }} </td>
            <td width="150" align="center"><a href="/question/{{ line['id'] }}">{{ line['title'] }} </a></td>
            <td width="300" align="center" class="justify">  {{ line['message'] }} </td>
            <td width="150" align="center"> {{ line['submission_time'] }} </td>
            <td width="150" align="center"> {{ line['view_number'] }} </td>
            <td width="150" align="center"> {{ line['vote_number'] }} </td>
        </tr>
    {% endfor %}
</table>
<h3>
    <p align="center">
        <a href="/add_a_question">
            <button type="button">Add a new question</button>
        </a>
    </p>
</h3>
</body>
</html>
