<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form class="registration" action="{{ url_for('register_user') }}" method="post">
       <input class="user_reg" type="text" name="username" placeholder="username">
        <input class="password_reg" type="password" name="password" placeholder="password">
        <input class="pass_submit_reg" type="submit" value="Register">
    </form>
</body>
</html>