<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='user_info.css') }}">
    <title>User info</title>
</head>
<body>
<p class="users">{{ username.username }}</p>

<p class="interaction_title">Questions</p>

    {% for question in questions %}

<div class='question'>

{{ question.title }}
<br>
                {{ question.message }}

</div>
{% endfor %}

<p class="interaction_title">Answers</p>

    {% for answer in answers %}

<div class='answer'>

{{ answer.question_title }}
<br>
    <p class="answer_in_answer">{{ answer.message }}</p>

</div>

{% endfor %}

<p class="interaction_title">Comment to questions</p>

    {% for comment in comments_for_questions %}

<div class='question'>

{{ comment.question_title }}
<br>
                {{ comment.question_message }}
    <br>
    <p class="comments"> {{ comment.message }} </p>
</div>
{% endfor %}

<p class="interaction_title">Comment to answers</p>

    {% for comment in comments_for_answers %}

<div class='question'>

{{ comment.answer_message }}

    <p class="comments"> {{ comment.message }} </p>
</div>
{% endfor %}

        <a href="/">
            <button class="input-buttons" type="button">Back to Questions</button>
        </a>




</body>
</html>